<h1>Create a new order</h1>
 
<form action="/orders" method="POST">
  <label>Name:</label>
  <br></br>
  <label for="task_id">Select a task</label>
  <select id='task_id' name='order[task_id][]' type='text'>
    <% @tasks.each() do |task| %>
      <option value="<%= task.id()%>"> <%= task.task() %> </option>
    <% end %>
  </select>
  <br></br>
  <label for="frequency_id">Select a frequency</label>
  <select id='frequency_id' name='order[frequency_ids][]' type='text'>
    <% @frequencies.each() do |frequency| %>
      <option value="<%= frequency.id()%>"> <%= frequency.frequency() %> </option>
    <% end %>
  </select>
<br></br>
  <label for="site_id">Select a site</label>
  <select name="order[site_id] id="order_site_id">
  <option value="">Please select</option>
  <option value="1">5614 Neches</option>
  <option value="2">11500 S Post Oak</option>
  <option value="3">1245 Judiway</option>
  <option value="4">1502 Central</option>
  <option value="5">5900 Westpark</option>
  <option value="6">South ESC</option>
  <option value="7">10875 SW Freeway</option>
  <option value="8">2240 Central</option>
  <option value="9">144000 Sommermeyer</option>
  <option value="10">5100 Sunbeam</option>
  </select>
<br></br>
  <label for="client_id">Select a client</label>
  <select id='client_id' name='order[client_ids][]' type='text'>
    <% @clients.each() do |client| %>
      <option value="<%= client.id()%>"> <%= client.client() %> </option>
    <% end %>
  </select>
<br></br>
<label>Enter Your Name</label>
<input type="text" name="order[counter]" id="order_counter"> 
<br></br>
<input type="submit" value="Create Order">
</form>