<h1>Create a new order</h1>
 
<form action="/orders" method="POST">
  <label>Name:</label>
  <br></br>
  <label for="task_id">Select a task</label>
  <select id='task_id' name='order[task_id][]' type='text'>
    <% @tasks.each() do |task| %>
      <option value="<%= task.id()%>"> <%= task.task() %> </option>
    <% end %>
  </select>
  <br></br>
  <label for="frequency_id">Select a frequency</label>
  <select id='frequency_id' name='order[frequency_ids][]' type='text'>
    <% @frequencies.each() do |frequency| %>
      <option value="<%= frequency.id()%>"> <%= frequency.frequency() %> </option>
    <% end %>
  </select>
<br></br>
  <label for="site_id">Select a site</label>
  <select id='site_id' name='order[site_ids][]' type='text'>
    <% @sites.each() do |site| %>
      <option value="<%= site.id()%>"> <%= site.site() %> </option>
    <% end %>
  </select>
<br></br>
  <label for="client_id">Select a client</label>
  <select id='client_id' name='order[client_ids][]' type='text'>
    <% @clients.each() do |client| %>
      <option value="<%= client.id()%>"> <%= client.client() %> </option>
    <% end %>
  </select>
<br></br>
<label>Enter Your Name</label>
<input type="text" name="order[counter]" id="order_counter"> 
<br></br>
<input type="submit" value="Create Order">
</form>