<h2>Welcome, <%= @user.username %>!</h2>
<h3>Here are the current orders</h3>
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<table style="width:25%">
  <tr>
  <th>Order ID</th>
  <th>Input Name</th>
  <th>User_ID</th> 
  </tr>
  <tr>
<% @orders.each do |order| %>
  <td><%=  order.id %></td>
  <td><%=  order.counter %></td>
  <!--%binding.pry%-->
  <td><%=  order.user_id %></td>
 </tr> 
<% end %>
<!-- </table>
<table style="width:100%">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th> 
    <th>Age</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td> 
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td> 
    <td>94</td>
  </tr>
</table> -->